* {
    font-family: sans-serif;
    margin: 0;
    max-height: 80vh;
    max-width: 100%;
}

body {
    height: 80vh;
    width: 100%;
    background: url("assets/blackjack.jpg") no-repeat center center/cover;
}

.homepagediv {
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    font-size: 20px;
}

.newgamebutton {
    text-align: center;
    justify-content: center;
    font-size: 20px;
    margin: 0px;
}

.bn632-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.bn632-hover:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.bn632-hover:focus {
    outline: none;
}

.bn632-hover.bn28 {
    background-image: linear-gradient(
            to right,
            #ff242f,
            #f15e64,
            #e14e53,
            #e2373f
    );
    box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
    border: white solid 1px;
}

.homepagetitel {
    color: white;
    padding: 10px;
}

.welcometext {
    color: white;
}

.paymentmethods {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 130px;
    padding-bottom: 0px;
}

.sponsors {
    padding-left: 1300px;

}

.sponsorslogo {
    margin: 0;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.sponsors {
    padding-left: 300px;
}


.sponsors-sitelogo {
    display: inline-flex;
    justify-content: space-between;
    padding-left: 520px;
}