* {
    font-family: sans-serif;
    margin: 0;
    max-height: 80vh;
    max-width: 100%;
}

body {
    height: 80vh;
    width: 100%;
    background: url("assets/blackjack.jpg") no-repeat center center/cover;
}

.allesloginpage {
    justify-content: center;
    padding: 0;
    margin: 0;
}

.grayimage {
    padding-left: 37%;
    padding-top: 70px
}

.loginform {
    padding-left: 43%;
    padding-top: 25px;
    color: white;
    position: relative;
}

.logintitle {
    color: white;
    padding-left: 700px;
    padding-top: 150px;
}

